<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/header.ejs') %>

<body>
    <h2 style="color: aliceblue;">ERR 404</h2>
    <p style="color: aliceblue;">Page Not Found</p>

    <p style="color: aliceblue;">Return to <a style="color: orange;" href="http://localhost:3000">Home Page</a></p>
</body>
</html>