<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<body>
    <h2> <a href="/">Alphabet Encoding</a> </h2>
    <h3>Chatroom</h3>
    <div class="chat-container">
        <header class="chat-header">
            <h1>Name of app here</h1>
            <a id="leave-btn" class="btn">Leave Room</a>
        </header>
        <main class="chat-main">
            <div class="chat-sidebar">
                <h3>Room Name:</h3>
                <h2 id="room-name"></h2>
                <h3>Users</h3>
                <ul id="users"></ul>
            </div>
            <div class="chat-messages"></div>
        </main>
        <div class="chat-form-container">
            <form id="chat-form">
                <input type="text" id="msg" placeholder="Type a message" required autocomplete="off">
                <button class="btn">Send</button>
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/users.js"></script>
</body>
</html>