@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color-a:#2d343e;
    --dark-color-b:  #404450;
    --light-color: #282b34
    ;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: var(--light-color);
    margin: 20px;
}

a {
    text-decoration: whitesmoke;
    
}

.form-container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
    /* border: 10px; */
}

.user-form-div {
    margin: 25px;
    background-color: var(--dark-color-b);
}

.form-submit-div {
    text-align: center;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    /* color: var(--dark-color-a);
     */
     color:whitesmoke;
    border: 0;
    font-size: 17px;
    
}

.user-form-label {
    background-color: var(--dark-color-b);
}

.form-main {
    padding: 30px 40px;
    background-color: var(--dark-color-b);
    margin-bottom: 20px;
    border-radius: 10px;

}

.form-main .user-form-div {
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-main label {
    display: block;
    margin-bottom: 5px;
}

.form-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.form-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}



.chat-container {
    max-width: 1100px;
    background: #fff;
    margin: 30px auto;
    overflow: hidden;
}

.chat-header {
    background: var(--dark-color-a);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: #404450;
    /* size: 80%; */
    height: 365px;

}

.chat-sidebar {
    background: var(--dark-color-b);
    color: #fff;
    padding: 20px 20px 60px;
    /* overflow-y: scroll; */
}

.chat-sidebar h4 {
    font-size: 16px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 10px;
}

.chat-sidebar ul {
    list-style-type: none;
}

.chat-sidebar ul li {
    padding: 5px 0;
}

.chat-messages {
    background-color:  #4d515c;
    padding: 30px;
    /* max-height: 500px; */
    overflow-y: scroll;
    /* height:  80%; */
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: gainsboro;
    border-radius: 5px;
    overflow-wrap: break-word;
 
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    text-decoration-color:  white;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #777;
    text-size-adjust: 5px;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
}

.chat-form-container form {
    display: flex;
    background-color:  #404450;

}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
} 