<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Alphabet Encoding</title>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchorme/2.1.2/anchorme.min.js" integrity="sha512-pzjbnnM49wKywLKQ3LKF5i6gvkl5Ye53LR76MfhBNdF+GvRFeYksfnSPaIunkTpf3HpIhUh54PRxT7McroTIBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>